/.venv
/network_monitor/__pycache__
/traffic_generator/__pycache__
/traffic_generator/migrations/__pycache__/
/db.sqlite3
/.env
/analytic_pipline/migrations/__pycache__/
/analytic_pipline/__pycache__
/MachineLearningCVE