/.venv
/.env
/db.sqlite3
/network_monitor/__pycache__
/network_monitor/migrations
/traffic_generator/__pycache__
/traffic_generator/migrations
/analytic_pipline/__pycache__
/analytic_pipline/migrations/__pycache__/
/MachineLearningCVE
/pcap_files